.cartbox{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nocart{
    margin: 70px;
}
.nocartp{
    margin-left: 100px;
}
.cartheader{
    align-items: center;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: lightgray;
    width: 90%;
    text-align: center;
    border-radius: 10px;
}
.cartlist{
    height: 120px;
    border: 2PX solid #EEE;
    width: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin: 10px;
}
.cartinfo{
    display: flex;
}
.cartimg{
    border: 1PX solid black;
    width: 100px;
    height: 100px;
    border-radius: 10px;
    background: pink;
    border: none;
}
.cartinfolist{
    margin-top: 20px;
    margin-left: 25px;
    display: block;
    position: relative;
    width: 100px;
}
.num{
    margin-left: 2px;
    font-size: 20px;
}
.order{
    border: none;
    font-weight: bold;
    color: white;
    background: orange;
    border-radius: 8px;
    width: 120px;
    height: 50px;
}
.totalorder{
    border: none;
    font-weight: bold;
    color: white;
    background: orange;
    border-radius: 8px;
    width: 120px;
    height: 50px;
}
.BsX{
    color: rgba(77, 57, 57, 0.274);
    font-size: 30px;
    position: absolute;  /* 자유로운 영혼 */
    right: 0;
    margin-right: 90px;
    margin-top: -40px;
    cursor: pointer;
}
.carttotal{
    align-items: center;
    height: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background: lightgray;
    width: 90%;
    text-align: center;
    border-radius: 10px;
}
.BsDashCircleFill{
    font-size: 35px;
    color: white;
}
.BsPlusCircleFill{
    font-size: 35px;
    color: white;
}
.BsPauseCircleFill{
    font-size: 35px;
    color: white;
    transform: rotate(90deg);
}
.addCart-p{
    margin-top: -3px;
}