.container{
    width: 20%;
    display: flex;
    flex-direction: row;
    padding: 20px 40px;
    margin-left: 100px;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.h2{
    margin-top: 30px;
}
.span{

}
.p{

}
