.whole{
    width: 1400px;
    margin: 0 auto;
    padding: 50px 70px;
    display: flex;
    flex-direction: row;
}
.img{
    display: flex;
    margin-left: 70px;
    background: pink;
    width: 600px;
    height: 400px;
}
.tittle{
    background: white;
    z-index: 2;
    border-radius: 8px;
    padding: 25px;
    position: fixed;
    margin-left: 49%;
    border: 1px solid #f5f5f5;
    height: 550px;
    width: 450px;
    box-shadow: 0 4px 14px 0 #0000001a;
}
.tittle h4{
    font-weight: bold;
}
.pp{
    font-size: 24px;
}
.ppp{
    font-size: 15px;
}
.write{
    padding: 30px;
    display: flex;
    text-align: center;
    margin-left: 30px;
}
.pay{
    display: block;
    position: relative;
}
.inputt{
    border-radius: 5px;
    height: 40px;
}
.span{
    color: #999999;
}
.img-img{
    width: 100%;
}