.header{
    display: flex;
    background: rgb(206, 130, 31);
    height: 70px;
}
.logo{
    margin-left: 50px;
    color: white;
    font-size: 40px;
}
.ul{
    margin-left: 80px;
    padding-top: 15px;
    display: flex;
    direction: row;
    list-style: none;
    width: 60%;
    align-items: center;
    justify-content: space-around;
    color: white;
    font-weight: bold;
}
.ul a{
    color: white;
    text-decoration: none;
}
.cart{
    font-size: 30px;
    color: white;
    display: flex;
    flex-grow: 2;
    margin-right: 7%;
    align-items: center;
    justify-content: end;
}
.user{
    font-size: 20px;
    margin-right: 30px;
    color: white;
    text-decoration: none;
}
.addCart{
    position: absolute;
    right: 0;
    background-color: rgb(255, 44, 44);
    color: white;
    margin-top: 10px;
    margin-right: 6.5%;
    width: 20px;
    height: 20px;
    text-align : center;
    border-radius: 50%;
    border: 1px solid black;
    border: none;
    cursor: pointer;
}