.commend{
    padding: 30px 10px;
    display: flex;
    flex-direction: column;
    align-items: center
}
.p{
    text-align: center;
    padding: 20px;
    font-size: 18px;
    color: #444;
    width: 70%;
}
.Pitem{
    display: flex;
    width: 70%;
    margin: auto;
}
.item{
    flex: 1;
    align-items: center;
}
.wrap{
    margin-left: 110px;
    display: flex;
    flex-wrap: wrap;
    width: 85%;
}
